body {
    background-color: #cecece;
    text-align: center;
}

.colors {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    max-width: 800px;
    margin: 30px auto;
}

.color-div {
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 15px 5px;
    text-transform: uppercase;
    border: 1px solid rgb(79, 79, 79);
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease .5s;
}

.color-div:hover{
    transform: scale(1.1);
}

.swiper {
  width: 600px;
  height: 400px;
}